:host{
    display: block;
    border: 1px solid gray;
    padding: 0.2rem;
}

.boton {
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    font-style: italic;
}

span {
    padding: 0.5rem;; 
}